body {
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 0px 30px;
  border-bottom: 1px solid #ddd;
  position: relative;
}

.logo h1 {
  font-size: 25px;
  color: black;
}

/* Navegación normal */
.nav ul {
  display: flex;
  list-style: none;
  gap: 10px;
}

.nav ul li .a {
  text-decoration: none;
  color: black;
  padding: 8px 12px;
  border-radius: 8px;
}
.nav ul li .a img {
  width: 17px;
}
.nav ul li .a:hover {
  background-color: #e4e4e4;
}

/* Botón hamburguesa */
.menu-toggle {
  display: none;
  font-size: 28px;
  cursor: pointer;
  user-select: none;
}

/* --- Responsive --- */
@media (max-width: 768px) {
  /* Botón aparece */
  .menu-toggle {
    display: block;
  }

  /* Menú oculto por defecto */
  .nav {
    display: none;
    position: absolute;
    top: 60px; /* debajo del header */
    left: 0;
    width: 100%;
    background: #fff;
    padding: 20px 0;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  }

  /* Cuando esté activo */
  .nav.active {
    display: block;
  }

  .nav ul {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
}
