body{
    margin: 0px;
    padding: 0px;
}

.slider{
    background: url('https://chevignon.vtexassets.com/assets/vtex.file-manager-graphql/images/20f14e97-a61e-4836-a4aa-68b0dbcaf399___20c388c550e5d808fd13480b0867fce8.jpg') no-repeat center center/cover;
    aspect-ratio:29/3;
    width: 100%;
}